
<div id="MainMenu" class="">
    <input type="hidden" id="hidSideMenuName" value="@ViewBag.sideMenuName" />
    <div class="list-group panel">
        <a href="#Menus" class="list-group-item list-group-item-success strong text-left active" data-toggle="collapse" data-parent="#MainMenu">
            <label style="color:#fff">Masters</label>
        </a>

        <div class="list-group-submenu" id="Menus">

            <a href="@Url.Action("Index","Bins", new { Area = "Master" })" class="list-group-item" id="Bins" data-parent="#SubMenu2"><span>Bin</span></a>            
            <a href="@Url.Action("Index","Size", new { Area = "Master" })" class="list-group-item" id="Size" data-parent="#SubMenu2"><span>Size</span></a>            
            <a href="@Url.Action("Index","Description", new { Area = "Master" })" class="list-group-item" id="Description" data-parent="#SubMenu2"><span>Description</span></a>            
            <a href="@Url.Action("Index","Property", new { Area = "Master" })" class="list-group-item" id="Property" data-parent="#SubMenu2"><span>Property</span></a>            
            <a href="@Url.Action("Index","Category", new { Area = "Master" })" class="list-group-item" id="Category" data-parent="#SubMenu2"><span>Category</span></a>            
            <a href="@Url.Action("Index","Manufacturer", new { Area = "Master" })" class="list-group-item" id="Manufacturer" data-parent="#SubMenu2"><span>Manufacturer</span></a>            
            <a href="@Url.Action("Index","Vendor", new { Area = "Master" })" class="list-group-item" id="Vendor" data-parent="#SubMenu2"><span>Vendor</span></a>            
            <a href="@Url.Action("Index","Customer", new { Area = "Master" })" class="list-group-item" id="Customer" data-parent="#SubMenu2"><span>Customer</span></a>            
            <a href="@Url.Action("Index","Item", new { Area = "Master" })" class="list-group-item" id="Item" data-parent="#SubMenu2"><span>Item</span></a> 
            <a href="@Url.Action("Index","Machine", new { Area = "Master" })" class="list-group-item" id="Machine" data-parent="#SubMenu2"><span>Machine</span></a> 
                       
        </div>
    </div>
</div>















