@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- View Responsiveness on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - Ramya Printers</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/App_Themes/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css?v0.1" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
    <header>
        <div class="DIMLogo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/App_Themes/images/ramya-logo-orange-small.png" />
            </a>
        </div>
        <div class="DIMAppName">
            <p><label>Ramya Printers</label></p>
        </div>
    </header>
  
    <div class="container-fluid divUserNameRolefixed userNameWrapperNoAccess" style="">
        <div class="row">
            <div class="userNameWrapper">
                <label class="lblUserName"><span class="glyphicon glyphicon-user" style="display:inline-block; margin-right:10px; color:white;"></span>@UserProfile.LoggedOnUser</label>@*- @UserProfile.CurrentUserRoleDescription*@
            </div>
        </div>
    </div>




    <div class="container-fluid body-content-nu">
        @RenderBody()
    </div>

    <div style="clear:both"></div>

    <footer class="navbar-orange navbar-fixed-bottom footer container-fluid" style="height:auto; padding:5px 0;">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                <label style="color:#fff!important">&copy; The Ramya Printers</label>
            </div>
        </div>
    </footer>

        </div>

    <script src="~/CustomScripts/Common.js"></script>

</body>
</html>
