
<div id="MainMenu" class="">
    <input type="hidden" id="hidSideMenuName" value="@ViewBag.sideMenuName" />
    <div class="list-group panel">
        <a href="#Menus" class="list-group-item list-group-item-success strong text-left active" data-toggle="collapse" data-parent="#MainMenu">
            <label style="color:#fff">PO Management</label>
        </a>

        <div class="list-group-submenu" id="Menus">                        

            <a href="@Url.Action("Index","Indent", new { Area = "POManagement" })" class="list-group-item" id="Indent" data-parent="#SubMenu4"><span>Indent</span></a>
            <a href="@Url.Action("Index","ApproveIndent", new { Area = "POManagement" })" class="list-group-item" id="ApproveIndent" data-parent="#SubMenu4"><span>Approve Indent</span></a>
            <a href="@Url.Action("Index","GeneratePO", new { Area = "POManagement" })" class="list-group-item" id="GeneratePO" data-parent="#SubMenu4"><span>Generate PO</span></a>
            <a href="@Url.Action("Index","ApprovePO", new { Area = "POManagement" })" class="list-group-item" id="ApprovePO" data-parent="#SubMenu4"><span>Approve PO</span></a>

        </div>
    </div>
</div>















