
<div id="MainMenu" class="">
    <input type="hidden" id="hidSideMenuName" value="@ViewBag.sideMenuName" />
    <div class="list-group panel">
        <a href="#Menus" class="list-group-item list-group-item-success strong text-left active" data-toggle="collapse" data-parent="#MainMenu">
            <label style="color:#fff">Reports</label>
        </a>

        <div class="list-group-submenu" id="Menus">            

            <a href="@Url.Action("Index","DepartmentWise", new { Area = "Reports" })" class="list-group-item" id="DepartmentWise" data-parent="#SubMenu8"><span>Department Wise</span></a>
            <a href="@Url.Action("Index","JobCardWise", new { Area = "Reports" })" class="list-group-item" id="JobCardWise" data-parent="#SubMenu8"><span>JobCard Wise</span></a>
            <a href="@Url.Action("Index","ComponentWise", new { Area = "Reports" })" class="list-group-item" id="ComponentWise" data-parent="#SubMenu8"><span>Component Wise</span></a>
            <a href="@Url.Action("Index","MaterialInward", new { Area = "Reports" })" class="list-group-item" id="MaterialInward" data-parent="#SubMenu8"><span>Material Inward</span></a>
            <a href="@Url.Action("Index","MaterialIssue", new { Area = "Reports" })" class="list-group-item" id="MaterialIssue" data-parent="#SubMenu8"><span>Material Issue</span></a>
            <a href="@Url.Action("Index","MaterialReturns", new { Area = "Reports" })" class="list-group-item" id="MaterialReturns" data-parent="#SubMenu8"><span>Material Returns</span></a>
            <a href="@Url.Action("Index","Inventory", new { Area = "Reports" })" class="list-group-item" id="Inventory" data-parent="#SubMenu8"><span>Inventory</span></a>
            <a href="@Url.Action("Index","Machine", new { Area = "Reports" })" class="list-group-item" id="Inventory" data-parent="#SubMenu8"><span>Machine</span></a>
            <a href="@Url.Action("Index","PurchaseOrderPending", new { Area = "Reports" })" class="list-group-item" id="Inventory" data-parent="#SubMenu8"><span>Purchase Order Pending</span></a>
          
        </div>
    </div>
</div>















