<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">



        @if (UserProfile.UserAccessibleScreens != null && UserProfile.UserAccessibleScreens.Any())
        {
            <li id="home-menu" class="active"><a href="@Url.Action("Index","Home", new { area = "" })"><span>Home</span></a></li>

            if (UserProfile.IsAdmin)
            {
                @*User Management Starts*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>User Management</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Create", "ManageUser", new { Area = "UserManagement" })"><span>Manage User</span></a></li>
                        <li><a href="@Url.Action("Index", "ManageRole", new { Area = "UserManagement" })"><span>Manage Role</span></a></li>
                    </ul>
                </li>
                @*User Management Ends*@
            }

            foreach (var screen in UserProfile.UserAccessibleScreens)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>@screen.ScreenName</span><span class="caret"></span></a>
                    @if (screen.ChildScreens != null && screen.ChildScreens.Any())
                    {
                        <ul class="dropdown-menu">
                            @foreach (var childScreen in screen.ChildScreens)
                            {
                                <li><a href="@Url.Action("Index", Utility.RemoveSpaceSlash(childScreen.ScreenName), new { Area = screen.ScreenName })"><span>@childScreen.ScreenName</span></a></li>
                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>

</div>
