@model CustomerVM

<div class="text-center">
    <div class="panel panel-default" style="border-color:#ddd;" id="customerdetailspanel">
        <div class="panel-heading-sm">
            <label><a href="#customerdetails" data-toggle="collapse" data-parent="#customerdetailspanel">Customer Details<span class="glyphicon glyphicon-minus"></span></a></label>
        </div>

        <div id="customerdetails" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblFirstName" data-placement="bottom" title="First Name">Customer Name:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <input type="text" class="form-control input-sm tooltip-enable  text-left" id="txtFirstName"
                                       data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="First Name" maxlength="20" value="@Model.CustomerName"
                                       name="FirstName" />
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="SearchCustomers()"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Inv Cust Name:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="Last Name" maxlength="20" value="@Model.InvCustomerName"
                                   name="LastName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group clearfix">
                            <label class="control-label col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                                   data-toggle="tooltip" id="lblPhone" data-placement="bottom" title="Last Name">Code:</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtPhone"
                                       data-toggle="tooltip" data-placement="bottom" title="Phone" maxlength="15" value="@Model.Code"
                                       name="Phone" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group clearfix">
                            <label class="control-label col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                                   data-toggle="tooltip" id="lblMobile" data-placement="bottom" title="Last Name">Rating:</label>
                            <div class="col-sm-10 col-md-8">
                                <select class="form-control input-sm tooltip-enable master-screen-input-small" id="drpRoleDetails"
                                        data-toggle="tooltip" data-placement="bottom" name="RoleID" title="Select Role">
                                    @if (Model != null && Model.RatingList != null && Model.RatingList.Any())
                                    {
                                        <option value="0"> --Select One-- </option>
                                        foreach (var rating in Model.RatingList)
                                        {
                                            string ratingSelected = rating.Selected ? "selected" : "";

                                            <option @ratingSelected value="@rating.Code"> @rating.Value </option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblEmail" data-placement="bottom" title="Email">Term of Payment:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <select class="form-control input-sm tooltip-enable master-screen-input" id="drpPaymentTerms"
                                        data-toggle="tooltip" data-placement="bottom" name="RoleID" title="Select Role">
                                    @if (Model != null && Model.PaymentTermList != null && Model.PaymentTermList.Any())
                                    {
                                        <option value="0"> --Select One-- </option>
                                        foreach (var paymentTerm in Model.PaymentTermList)
                                        {
                                            string paymentTermSelected = paymentTerm.Selected ? "selected" : "";

                                            <option @paymentTermSelected value="@paymentTerm.PaymentTermID"> @paymentTerm.PaymentTermName </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="SearchCustomers()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblFirstName" data-placement="bottom" title="First Name">Parent Cust Name:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <input type="text" class="form-control input-sm tooltip-enable  text-left" id="txtFirstName"
                                       data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="First Name" maxlength="20" value="@Model.CustomerName"
                                       name="FirstName" />
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="SearchParentCustomers()"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Parent Cust Code:</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtLastName"
                                   data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="Last Name" maxlength="20" value="@Model.InvCustomerName"
                                   name="LastName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group clearfix">
                            <label class="control-label col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                                   data-toggle="tooltip" id="lblPhone" data-placement="bottom" title="Last Name">Cust RRPL ID:</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control input-sm tooltip-enable master-screen-input" id="txtPhone"
                                       data-toggle="tooltip" data-placement="bottom" title="Phone" maxlength="15" value="@Model.CustomerRRPLID"
                                       name="Phone" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group clearfix">
                            <label class="control-label col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                                   data-toggle="tooltip" id="lblMobile" data-placement="bottom" title="Last Name">Credit Limit:</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control input-sm tooltip-enable master-screen-input-small" id="txtPhone"
                                       data-toggle="tooltip" data-placement="bottom" title="Phone" maxlength="15" value="@Model.CreditLimit"
                                       name="Phone" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label class="control-label col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblEmail" data-placement="bottom" title="Email">Account Manager:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="row col-xs-11 col-sm-11 col-md-11">
                                <select class="form-control input-sm tooltip-enable master-screen-input" id="drpPaymentTerms"
                                        data-toggle="tooltip" data-placement="bottom" name="RoleID" title="Select Role">
                                    @if (Model != null && Model.AccountManagerList != null && Model.AccountManagerList.Any())
                                    {
                                        <option value="0"> --Select One-- </option>
                                        foreach (var accountManager in Model.AccountManagerList)
                                        {
                                            string accountManagerSelected = accountManager.Selected ? "selected" : "";

                                            <option @accountManagerSelected value="@accountManager.AccountManagerID"> @accountManager.AccountManagerName </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <button type="button" class="rmd-search-button ButtonWithImage" onclick="SearchCustomers()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
