@model UsersVM

    <div class="panel panel-default" style="border-color:#ddd;" id="personalpanel">
        <div class="panel-heading-sm">
            <label><a href="#userpersonalpanel" data-toggle="collapse" data-parent="#personalpanel">User Personal Details<span class="glyphicon glyphicon-minus"></span></a></label>
        </div>

        <div id="userpersonalpanel" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">

            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblFirstName" data-placement="bottom" title="First Name">First Name:</label>
                    <div class="col-xs-10 col-sm-10 col-md-10">
                        <div class="row col-xs-11 col-sm-11 col-md-11">
                            <input type="text" class="form-control input-sm tooltip-enable text-left" id="txtFirstName"
                                   data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="First Name" maxlength="20" value="@Model.FirstName"
                                   name="FirstName"  />
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                            <button type="button" class="rmd-search-button ButtonWithImage" onclick="SearchUsers()"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblLastName" data-placement="bottom" title="Last Name">Last Name:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <input type="text" class="form-control input-sm tooltip-enable" id="txtLastName"
                               data-toggle="tooltip" data-placement="bottom" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{2,20}$" title="Last Name" maxlength="20" value="@Model.LastName"
                               name="LastName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblAddress" data-placement="bottom" title="Address">Address:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <textarea style="height:10%;" id="txtAddress" name="Address" class="form-control tooltip-enable" rows="2"
                                  data-toggle="tooltip" data-placement="bottom" title="Address">@Model.Address</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group clearfix">
                        <label class="control-label col-xs-2 col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblPhone" data-placement="bottom" title="Last Name">Phone:</label>
                        <div class="col-xs-8 col-sm-10 col-md-8">
                            <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtPhone"
                                   data-toggle="tooltip" data-placement="bottom" title="Phone" maxlength="15" value="@Model.Phone"
                                   name="Phone" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group clearfix">
                        <label class="control-label col-xs-2 col-sm-2 col-md-4 tooltip-enable formLabelAlign"
                               data-toggle="tooltip" id="lblMobile" data-placement="bottom" title="Last Name">Mobile:</label>
                        <div class="col-xs-8 col-sm-10 col-md-8">
                            <input type="text" class="form-control input-sm tooltip-enable designItemInput" id="txtMobile"
                                   data-toggle="tooltip" max="10" data-placement="bottom" title="Mobile" maxlength="10" value="@Model.Mobile"
                                   name="Mobile" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblEmail" data-placement="bottom" title="Email">Email:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <input type="email" class="form-control input-sm tooltip-enable" id="txtEmail"
                               data-toggle="tooltip" data-placement="bottom" title="Email" maxlength="25" value="@Model.Email"
                               name="Email" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group clearfix">
                    <label class="control-label col-xs-2 col-sm-2 col-md-2 tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblComments" data-placement="bottom" title="Comments">Comments:</label>
                    <div class="col-xs-8 col-sm-10 col-md-10">
                        <textarea id="txtComments" name="Comments" class="form-control tooltip-enable" rows="3"
                                  data-toggle="tooltip" data-placement="bottom" title="Comments">@Model.Comments</textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
