@model UsersVM
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = ViewBag.PageName;

    string pageName = ViewBag.Page;

    string ajaxRoleSuccessMethod = "CreateUserSuccess";
    string ajaxRoleFailureMethod = "CreateUserFailure";

    if (pageName == "Edit")
    {
        ajaxRoleSuccessMethod = "EditUserSuccess";
        ajaxRoleFailureMethod = "EditUserFailure";
    }
}

@using (Ajax.BeginForm(pageName, "ManageUser", FormMethod.Post,
                                                                                                                                                                                                                    new AjaxOptions
                                                                                                                                                                                                                    {
                                                                                                                                                                                                                        OnBegin = "ShowProgressbar",
                                                                                                                                                                                                                        OnComplete = "HideProgressbar",
                                                                                                                                                                                                                        OnSuccess = ajaxRoleSuccessMethod,
                                                                                                                                                                                                                        OnFailure = ajaxRoleFailureMethod

                                                                                                                                                                                                                    }, new { Id = "FormCreateUser" }
                                                                                                                                                                                                                    ))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <label> @ViewBag.Title  </label>
        </div>

        <div class="panel-body">
            <input type="hidden" id="hidUserID" value="@Model.UserID" />
            <div class="row text-center" style="margin-bottom:20px;">
                <input type="submit" value="Save" class="ButtonWithImage btnSaveUsers" data-alert="false" />
                @if (pageName == "Edit")
                {
                    <input type="button" value="Delete" class="ButtonWithImage btnDeleteUsers" data-alert="false" />
                }

                <input type="button" value="Cancel" class="ButtonWithImage" onclick="RefreshScreen()" />

            </div>

            <div class="row">
                <div class="text-center">
                    <div class="panel panel-default" style="border-color:#ddd;" id="userinfopanel">
                        <div class="panel-heading-sm">
                            <label><a href="#userinfo" data-toggle="collapse" data-parent="#userinfopanel">User Info<span class="glyphicon glyphicon-minus"></span></a></label>
                        </div>

                        <div id="userinfo" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
                            <div class="col-md-6">
                                @Html.Partial("_UserPersonalDetails", Model)
                            </div>

                            <div class="col-md-6">
                                @Html.Partial("_UserLoginDetails", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="text-center">
                    <input id="hidRoleIDofUser" type="hidden" name="RoleID" value="@Model.RoleID" />
                    @Html.Partial("_RoleSearch", Model.AllUserRoles, new ViewDataDictionary { { "userscreen", true } });

                </div>
            </div>

            <div class="row text-center" style="margin-bottom:20px;">

                <input type="submit" value="@pageName" class="ButtonWithImage btnSaveUsers" data-alert="false" />
                @if (pageName == "Edit")
                {
                    <input type="button" value="Delete" class="ButtonWithImage btnDeleteUsers" data-alert="false" />
                }

                <input type="button" value="Cancel" class="ButtonWithImage" onclick="RefreshScreen()" />

            </div>

        </div>
    </div>
}
<script src="~/CustomScripts/UserManagement.js"></script>


