@model  List<RolesVM>
@{ 
    var roleselectiondisabled = "";
    if(ViewBag.userscreen == true)
    {
        roleselectiondisabled = "role-selection-disabled";
    }
}
<div class="panel panel-default" style="border-color:#ddd;" id="roleinfopanel">
    <div class="panel-heading-sm">
        <label><a href="#roleinfo" data-toggle="collapse" data-parent="#roleinfopanel">Role Info<span class="glyphicon glyphicon-minus"></span></a></label>
    </div>

    <div id="roleinfo" class="panel-body  panel-collapse collapse in" role="tabpanel" aria-labelledby="Header Fields">
        <form id="rolewithaccess">
            <div class="form-group clearfix">
                <div class="col-sm-6 col-md-3 text-right">
                    <label class="control-label  tooltip-enable formLabelAlign"
                           data-toggle="tooltip" id="lblSelectRole" data-placement="bottom" title="Select Role" for="drpRoleDetails">Select Role:</label>
                </div>
                <div class="col-sm-6 col-md-3">
                    <select class="form-control input-sm tooltip-enable designItemInput" id="drpRoleDetails"
                            data-toggle="tooltip" data-placement="bottom" name="RoleID" title="Select Role">
                        @if (Model != null && Model.Any())
                        {
                            <option value="0"> --Select One-- </option>
                            foreach (var role in Model)
                            {
                                string roleSelected = role.Selected ? "selected" : "";

                                <option @roleSelected value="@role.RoleID"> @role.RoleName </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-9 col-md-2 form-check text-center">
                    <label class="form-check-label role-form-check">
                        @{
                            var checkedValue = Model != null && Model.FirstOrDefault() != null && Model.FirstOrDefault().IsActive ? "checked" : "";
                        }
                        <input type="checkbox" class="form-check-input" id="chkActivateDeactivate" checked="@checkedValue" />
                    </label>
                    <label class="role-form-check-label" for="chkActivateDeactivate">Activate/De-Activate</label>
                </div>
                <div class="col-md-3">
                </div>
            </div>

            <div class="panel panel-default" style="border-color:#ddd;" id="roleaccesspanel">
                <div class="panel-heading-sm">
                    <label><a href="#roleacessDetails" data-toggle="collapse" data-parent="#roleaccesspanel">Role Access Details<span class="glyphicon glyphicon-minus"></span></a></label>
                </div>

                <div id="roleacessDetails" class="panel-body  panel-collapse collapse in @roleselectiondisabled" role="tabpanel" aria-labelledby="Header Fields">
                    @if (Model == null || !Model.Any(x => x.Selected))
                    {
                        @Html.Partial("_ScreenAccessSelection", new RolesVM())
                    }
                    else
                    {
                        @Html.Partial("_ScreenAccessSelection", Model.Where(x => x.Selected).FirstOrDefault())
                    }
                </div>
            </div>
        </form>

    </div>
</div>